.mat-card-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-card-subtitle{
  align-items: center;
  display: flex;
  justify-content: center;
}
.mat-card-content {
  align-items: center;
  display: flex;
  justify-content: center;
}
