.mat-card-title{
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-card-subtitle{
  align-items: center;
  display: flex;
  justify-content: center;
}
.mat-card-content {
  padding-top: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.image{
  height:55%; background-size:cover; width:auto;
  background-image: url("https://cdnp.flypgs.com/files/Sehirler-long-tail/Eindhoven/eindhoven-phillips-muze.jpg");
  background-position:50% 50%;
}
.picsum-img-wrapper{
  width:300px;
  height:300px;
  object-fit:scale-down;
}
.maps{
  width: 50vw;
  height: 50vw;
}

.maps-gotolocation{
  position: fixed;
  top: 150px;
  left: 20px;
}

.maps-filter-sights-button{
  position: fixed;
  top: 200px;
  left: -100px;
}

.maps-toggleTopLocations{
  position: fixed;
  top: 100px;
  left: 20px;
}

.top-locations-container{
  position: fixed;
  left: 20px;
  top: 70px;
  width: 0px;
  height: 100%;
  padding-right: 20px;
  opacity: 0;
  overflow-y: auto;
}

.maps-container{
  margin-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  top:60px; // change it based on your requirement
}

.outerContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}

.map-action-button{
  color:white;
  margin-left: 5px;
  align-self: center;
  background-color: #3f51b5;
}

.map-clear-route-button{
  color:white;
  margin-left: 5px;
  font-size: x-large;
  background-color: #3f51b5;
}

.map-search-adressbar{
  z-index: 10;
  width: 350px;
  right: 80px;
  position: fixed;
  top: 65px;
}

.address-placeholder-label{
  color: white;
}

.address-form{
}

.filter-sights-container{
  position: fixed;
  left: 550px;
  text-align: center;
  opacity: 0;
  top: 250px;
  background-color: transparent;
}

.filter-center{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.filter-form-field{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 250px;
}

.filter-selector{
  color:white;
  border-color: transparent;
  text-decoration-color: white;
}

.address-bar{
  background-color: #3f51b5;
}

.address-autocomplete{
  background-color: #3f51b5;
}
mat-select{
  color: white;
  text-decoration-color: white;
  outline-color: white;
}



mat-form-field{
  fill: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  color:white;
  border-color: transparent;
  text-decoration-color: white;
  border-radius: 30px;
  background-color: #3f51b5;
  outline-color: red;
}

.label-select-filter{
  color: white;
  outline-color: white;
  text-decoration-color: white;
}

#landingPage_Map{
  height: 100%;
}

::ng-deep .mat-select-value{
  color: white;
  text-decoration-color: white;
  outline-color: white;
}

.slider-container{
  background-color: #3f51b5;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  justify-content: center;
  align-self: center;
  display: flex;
}

mat-slider{
  margin-left: 5px;
  margin-right: 5px;
}

.card-detail{
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.sight-details-view{
  height: 38%;
  position: fixed;
  top: 60%;
  opacity: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 500px;
  background-color: lightgray;
}

.sight-details-view-rating{
  background-color: lightgray;
  margin: 10px;
}

.sight-show-detail-btn{
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  background-color: #3f51b5;
  color:white;
}

.close-button-detail{
  align-self: end;
  left: 390px;
  right: 0;
}

.sights-search-panel{
  z-index: 10;
  width: 350px;
  right: 450px;
  position: fixed;
  top: 65px;
}

.route-option-container{
  background-color: transparent;
  position: fixed;
  width: 220px;
  text-align: end;
  top:150px;
  opacity: 0;
  right: 80px;
}

.route-details{
  background-color: #3f51b5;
  text-align: start;
  border-radius: 40px;
  padding: 15px;
}

.label-route-detail{
  color: white;
  font-size: medium;
  outline-color: white;
  text-decoration-color: white;
}
.label-route-detail-distance{
  color: white;
  font-size: small;
  outline-color: white;
  text-decoration-color: white;
}
.label-route-detail-address{
  color: white;
  font-size: smaller;
  outline-color: white;
  text-decoration-color: white;
}