<div class="image"></div>
<mat-card-title>Welcome to Students 4 Students!</mat-card-title>
<mat-card-subtitle> The Helper every newcomer needs!</mat-card-subtitle>

<mat-card>
<mat-card-content>
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img [src]="image.src" alt="Random slide">
            </div>
            <div class="carousel-caption">
                <p>Example of The most popular places!</p>
            </div>
        </ng-template>
    </ngb-carousel>
</mat-card-content>

</mat-card>
