.sight-name {
  display: flex;
  justify-content: center;
  flex: auto;
  font-size: 50px;
  transition: 0.3s;
}

.detail-toolbar {
  padding-block: 50px;
}

img {
  display: block;
  background-size: cover;
  max-width:640px;
  max-height:410px;
  border-radius: 15px;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.big-component {
  width: 100%;
  justify-items: center;
  padding-block: 50px;
}

.mat-card-content {
  padding-top: 15px;
  padding-left: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.add-rating-container{
  padding-left: 50px;
  width: 50%;
  align-items: center;
  justify-items: center;
}

.reviews {
  padding-left: 50px;
  align-items: center;
  justify-content: center;
  max-width: 30%;
  word-wrap: break-word;
  margin-top: 25px;
}

.commentCenter{
  justify-content: center;
  grid-template-columns: auto;
  text-align: -webkit-center;
}