mat-card {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 100% !important;
  margin-bottom: 2px;
}

mat-chip {
  height: 10px
}

.sight-panel {
  .card-title {
    display: flex;
    justify-content: space-between;
  }

  .card-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card-subtitle-ratings {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    p {
      margin-bottom: 0px;
    }
  }
}

button {
  width: 31px;
  height: 31px;

  mat-icon {
    margin-top: -10px;
    width: 25px !important;
    height: 25px !important;
    font-size:25px !important;
  }
  margin-left: 5px;
}

.fxRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fxColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment {
  padding-top: 15px;
}
.example-viewport {
  height: 375px;
  width: 450px;
}

.example-item {
  min-height: 100px;
}

.titleforsight {
  max-width: 250px;
  line-height: 30px;
}