<div class="containerAddSight">
    <mat-card class="mat-elevation-z6">
        <mat-card-title>Add new Sight</mat-card-title>
        <br/>
        <mat-card-content>
            <form (ngSubmit)="onSightAdd()" [formGroup]="addSightForm">

                <mat-form-field appearance="outline">
                    <mat-label>Enter the sight name</mat-label>
                    <input formControlName="sightName" matInput placeholder="Ernst-Happel Stadium" required>
                    <mat-error *ngIf="hasError('sightName', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('sightName', 'minlength')">Firstname minimum length is 2</mat-error>
                    <mat-error *ngIf="hasError('sightName', 'maxlength')">Firstname maximum length is 200</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Enter the street address</mat-label>
                    <input type="text" formControlName="address" class="form-control" matInput (keydown.enter)="$event.preventDefault()" placeholder="Enter the address of the sight" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #addressSearch [(ngModel)]="addressValue">
                    <mat-error *ngIf="hasError('address', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('address', 'minlength')">Firstname minimum length is 2</mat-error>
                    <mat-error *ngIf="hasError('address', 'maxlength')">Firstname maximum length is 400</mat-error>>
                </mat-form-field>

                <mat-card-actions>
                    <button [disabled]="!addSightForm.valid"
                            color="primary" mat-raised-button>
                        Add Sight
                    </button>
                    <button (click)="onAbort()" color="warn" mat-stroked-button>
                        Abort
                    </button>
                </mat-card-actions>
            </form>
            <mat-button-toggle (click)="onGoToLocation()">
                Go to your location
            </mat-button-toggle>

            <google-map
                    height="450px"
                    width="100%"
                    [zoom]="zoom"
                    [center]="center"
                    [options]="options"
                    (mapClick)="onMapClick($event)">
                <map-marker
                        markerElem="mapMarker"
                        *ngFor="let marker of mapMarkers"
                        [position]="marker.position"
                        [label]="marker.label"
                        [title]="marker.title"
                        [options]="marker.options"
                        (mapClick)="openInfo(marker)"></map-marker>
                <map-info-window>"MyContent"</map-info-window>
            </google-map>
        </mat-card-content>
    </mat-card>
</div>
