.containerAddSight {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.autocomplete-container{
  margin-bottom: 40px;
  height: 50px;
}

mat-card {
  max-width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-form-field-horizontal{
  display: inline;
}


::ng-deep {
  .mat-form-field {
    width: 100% !important;
  }

  .mat-form-field .mat-form-field-flex {
    background-color: white;
  }

  .mat-button-toggle {
    background-color: white;
  }

  .mat-grid-tile{
    max-width: 100%;
  }
}
