<!--
/**
 * Reusable component for displaying ratings.
 * Component written by Michael Fahrafellner
 * creation date: 19.10.2021
 * last change done by: Michael Fahrafellner
 */
-->
<mat-expansion-panel hideToggle expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <app-star-rating [clickable]="false" [starCount]="5" [rating]="rating.rating"></app-star-rating>
        </mat-panel-title>
        <mat-panel-description>
            <mat-label><strong>Comment:</strong></mat-label>
            <mat-label [textContent]="rating.comment"></mat-label>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="3" rowHeight="120px">
        <mat-grid-tile
                *ngFor="let image of rating.imageUrl"
                [colspan]="1"
                [rowspan]="1">
            <img [src]="image" height="150px" class="image-row" (click)="showLightbox(image)">
            <!--img *ngFor="let img of imageObject; let i = index" [src]="img.thumbImage || img.posterImage" (click)="showLightbox(i)" /-->
        </mat-grid-tile>
    </mat-grid-list>

    <!--td><img [src]="image" height="100px" margin="10px"></td-->
</mat-expansion-panel>

<ng-image-fullscreen-view
        [images]="imageObject"
        [imageIndex]="currentIndex"
        [show]="showFlag"
        (close)="closeEventHandler()"></ng-image-fullscreen-view>