@import "~bootstrap/dist/css/bootstrap.css";

.login-container .mat-form-field + .mat-form-field {
  margin-left: 16px;
  padding-left: 10px;
}

.login-button{
  margin-left: 16px;
  padding-left: 10px;
}

.login-button-header{
  margin-left: 16px;
  float: right;
  position: relative;
}
