<mat-toolbar class="mat-elevation-z6" color="primary">
    <div class="topnav-container">
        <span class="brandText" routerLink="./">{{title}}</span>
    </div>
    <div class="spacer"></div>
    <a mat-button routerLink="">Home</a>
    <a mat-button>About Us</a>


    <form class="example-form">
        <mat-form-field>
            <span matPrefix> </span>
            <input type="text" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
            <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        </mat-form-field>
    </form>

    <button mat-button>
        <mat-icon>add_location_alt</mat-icon>
    </button>
    <a mat-raised-button (click)="openLoginDialog()">Sign In</a>

</mat-toolbar>
    <span class="router-container">
    <router-outlet></router-outlet>
        </span>


