.spacer {
  flex: 1 1 auto;
}

.mat-raised-button{
  margin-left: 15px;
}
 .mat-toolbar{
   background: rgba(125, 237, 255, 0.57);
  color: #6f76e3;
 }
 .mat-raised-button{
   background: #9fa4f6;
   color: #7dedff;
 }