.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-toolbar {
  height: 50px;

  .spacer {
    flex: 1 1 auto;
  }

  * {
    margin-right: 5px;
  }
}
.router-container {
  height: 100%;
  width: 100%;
}

.footer-copyright {
  background-color: #3f51b5;
  color: white;
}

.small-label-header{
  margin-left: 10px;
  color: white;
}

.profilePicture{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
