<mat-toolbar class="mat-elevation-z6" color="primary">
    <div class="topnav-container">
        <span class="brandText" routerLink="./">{{title}}</span>
    </div>
    <div class="spacer"></div>
    <a mat-button routerLink="">Home</a>
    <a mat-button>About Us</a>


    <form class="example-form">
        <mat-form-field>
            <span matPrefix> </span>
            <input type="text" matInput placeholder="Search" name="search" [(ngModel)]="search">
            <button matSuffix mat-button>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>

    <button mat-button>
        <mat-icon>add_location_alt</mat-icon>
    </button>

    <!--profile button-->
    <ng-template [ngIf]="isUserLoggedIn()==true" [ngIfElse]="loggedOut">
    <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    </ng-template>

    <!--signin button-->
    <ng-template #loggedOut>
        <a mat-raised-button (click)="openLoginDialog()">Sign In</a>
    </ng-template>
</mat-toolbar>
<span class="router-container">
    <router-outlet></router-outlet>
</span>


