.register-container .mat-form-field + .mat-form-field {
  margin-left: 16px;
}

.register-button{
  margin-left: 16px;
}
::ng-deep {
  .mat-form-field .mat-form-field-flex{
    background-color: white;
  }
  .mat-button-toggle {
    background-color: white;
  }
}