<div class="container">
<mat-card-title style="padding-bottom: 20px;text-align: center;">Login</mat-card-title>
    <img src="{{login}}" alt="{{login}}" class="image"/>
<div class="second">
    <mat-form-field appearance="outline" color="primary" style="width:235px;">
        <mat-label>Enter your email</mat-label>
        <input matInput
               placeholder="pat@example.com"
               [formControl]="email"
               required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>

<div class="second">
    <mat-form-field appearance="outline" color="primary">
        <mat-label>Enter your password</mat-label>
        <input matInput
               [type]="hidePassword ? 'password' : 'text'"
               [formControl]="pw" required>
        <button mat-icon-button matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>
    <div style="text-align: center">
        <a mat-button (click)="signUp()">Create an account.</a>
    </div>
<div style="padding-bottom: 20px">
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="loginUser()" cdkFocusInitial>Login</button>
    <button mat-stroked-button mat-dialog-close color="warn" (click)="closeLoginDialog()">Abort</button>
</div>
</div>
</div>