.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
  width: 100% !important;
}
mat-card {
  max-width: 350px;
}
mat-card-actions {
  display: flex;
  justify-content: center;
}
::ng-deep {
  .mat-form-field {
    width: 100% !important;
  }

  .mat-form-field .mat-form-field-flex {

  }

  .mat-button-toggle {
    background-color: white;
  }
}
